{% extends 'base.html.twig' %}


{% block body %}


<style>
    h1 {
        font-family: 'Cursive', sans-serif;
        color: black;
		text-align: center;
    }
</style>

<h1>Explorez Votre Avenir - Réservez Dès Aujourd'hui</h1>

	 <img src="https://www.shutterstock.com/shutterstock/photos/1188691570/display_1500/stock-vector-bon-voyage-inscription-quote-1188691570.jpg" alt="Bon Voyage Image"> 
   
{% endblock %}